/* loading spinner */
@keyframes spinner-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* background image zoom */
@keyframes background-zoom {
	0% {
		background-size: 100%;
	}
	100% {
		background-size: 110%;
	}
}

/* draw svg outline */
@keyframes draw-svg {
	to {
		stroke-dashoffset: 0;
	}
}

/* fill svg */
@keyframes fill-svg {
	to { fill-opacity: 1; }
}

/* fade in  + slight pulse */
@keyframes fade-in { 
	0% {
		opacity: 0;
		transform: scale(.1);
	}

	85% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
/* device frame scroll up/down */
@keyframes bounce-y {
	0% {
	    transform: translateY(0px);
	}
	50% {
	    transform: translateY(-15%);
	}
	100% {
	    transform: translateY(0px);
	}
}