@import '../../styles/_all';

.home {
	min-height: calc(100vh - #{$fixed_nav_height});
	@include flexbox-center(column);
	position: relative;
	height: 100%;
	width: 100%; 
	canvas { 
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
}

@media #{$desktop} {
}

@media #{$tablet} {
}