@import '../../styles/_all';

.home {
	min-height: calc(100vh - #{$fixed_nav_height});
	@include flexbox-center(column);

	/*background-image: url('http://clementgirault.com/projets/codepen/text.jpg');*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	animation: background-zoom 4s forwards;

	#Canvas {
		margin-bottom: $gutter*2;
	}
	.text-container {
		color: $white;
	}
}

@media #{$desktop} {
}

@media #{$tablet} {
}

@keyframes background-zoom {
	0% {background-size: 100%;}
	100% {background-size: 105%;}
}